.create-btn {
    align-items: center;
    background-color: rgba(240, 240, 240, 0.634);
    border: 1px solid #dfdfdf;
    border-radius: 16px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 28px;
    max-width: 100%;
    padding: 14px 22px;
    text-decoration: none;
    transition: all 0.2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 70%;
    margin: 20px;
}

.create-btn:active,
.create-btn:hover {
    outline: 0;
}

.create-btn:hover {
    background-color: #ffffff;
    border-color: rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
    .create-btn {
        font-size: 20px;
        min-width: 200px;
        padding: 14px 16px;
    }
}
