.head-txt {
    background-color: rgba(74, 140, 197, 0.892);
    border-radius: 8px;
    padding: 5px 2dvh;
    margin: 20px 0;
}

.topic-txt {
    font-size: 40px;
    font-family: "Segoe UI";
    color: rgba(255, 255, 255, 0.838);
}

.body-txt {
    font-size: 23px;
    color: rgba(70, 70, 70, 0.766);
    padding: 0 5px;
}
